<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/styles/style1.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">ICE-CREAM</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" th:href="@{/orderform}">Order Form</a>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             Flavours
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" th:href="@{/fruitnut}">Fruit & Nuts</a></li>
              <!-- <li><a class="dropdown-item" th:href="@{Indian Inspiration.html}">Indian Inspiration</a></li>
              -->
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" th:href="@{/contact}">Franchise</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" th:href="@{blog.html}">Blog</a>
          </li> -->
        </ul>
       
      </div>
    </div>
  </nav>

    
      <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <img src="/image/Fruit-N-Nut.png" alt="" id="nut-img">
            </div>

            <h1 id="flavour-title-other">Other Flavours</h1>
        </div>
      </div>


      <div class="container-fluid mt-5" >
        <div class="row ">
            <div class="col-3 ">
                <img src="/image/International-Classic.png" alt="" class="other-flavour">
            </div>
            <div class="col-3 ">
                <img src="/image/International-Premium.png" alt=""  class="other-flavour">
            </div>
            <div class="col-3">
                <img src="/image/Super-Premium.png" alt=""  class="other-flavour">
            </div>
            <div class="col-3">
                <img src="/image/Fruit-N-Nut.png" alt=""  class="other-flavour">
            </div>
        </div>
      </div>


      <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-6 ">
                <h1 class="flavour-title">
                    Alphonso Mango
                </h1>
                <p class="flavour-text">
                    The heavenly taste of Alphonso mangoes, King of fruits in every scoop heavenly taste of Alphonso mangoes, King of fruits in every scoop.
                </p>
               
                <a th:href="@{/orderform}">
                  <button class="flavour-btn">Order Now</button>
                </a>
            </div>
            <div class="col-6">
                <img src="/image/Alphonso-mango.png" alt="" class="alpho-mango">
            </div>
        </div>




        <div class="row mt-5 ">
            <div class="col-7 mt-5">
                <img src="/image/Strawberry.png" alt="" class="strawberry">
            </div>
            <div class="col-5 mt-5">
                <h1 class="flavour-title2">
                    Strawberry 
                </h1>
                <p class="flavour-text2">
                    A winter special treat loaded with juicy  Relish the refreshing and fresh bites of Tender Coconut, only in NIC’s Tender Coconut.
                </p>
                
                <a th:href="@{/orderform}">
                  <button class="flavour-btn2">Order Now</button>
                </a>
            </div>           
        </div>




        <div class="container-fluid mt-5">
          <div class="row">
              <div class="col-6 mt-5">
                  <h1 class="flavour-title">
                     Tender Coconut
                  </h1>
                  <p class="flavour-text">
                    Relish the refreshing and fresh bites of Tender Coconut, only in NIC’s Tender Coconut.Relish the refreshing and fresh bites of Tender Coconut, only in NIC’s Tender Coconut.
                  </p>
                 
                  <a th:href="@{/orderform}">
                    <button class="flavour-btn">Order Now</button>
                  </a>
              </div>
              <div class="col-6 mt-5">
                  <img src="/image/Tender-Coconut.png" alt="" class="alpho-mango">
              </div>
          </div>
      </div>


      <div class="row mt-5 ">
        <div class="col-7 mt-5">
            <img src="/image/Kesar-pista.png" alt="" class="strawberry">
        </div>
        <div class="col-5 mt-5">
            <h1 class="flavour-title-pista">
                Kesar Pista
            </h1>
            <p class="flavour-text2">
                A winter special treat loaded with juicy  Relish the refreshing and fresh bites of A taste of Indian royalty, the exotic flavour of saffron and pistas.
            </p>
           
            <a th:href="@{/orderform}">
              <button class="flavour-btn2">Order Now</button>
            </a>
        </div>           
    </div>




    <div class="container-fluid mt-5">
      <div class="row">
          <div class="col-6 mt-5">
              <h1 class="flavour-title3">
                Kala Jamun
              </h1>
              <p class="flavour-text">
                Relish the refreshing and fresh bites of Tender Coconut, only in NIC’s Kala Jamun.Relish the refreshing and fresh bites of Kala Jamun, only in NIC’s Kala Jamun.
              </p>
             
              <a th:href="@{/orderform}">
                <button class="flavour-btn">Order Now</button>
              </a>
          </div>
          <div class="col-6 mt-5">
              <img src="/image/Kala-Jamun.png" alt="" class="alpho-mango">
          </div>
      </div>
  </div>

    







  <!-- <div class="container-fluid mt-5">
    <div class="row">
        <div class="col-6 ">
            <h1 class="flavour-title">
              Motichoor Ladoo
            </h1>
            <p class="flavour-text">
              A desi sweet you can never say no to, loaded with Motichoor Ladoo.A desi sweet you can never say no to, loaded with Motichoor Ladoo.
            </p>
            <button class="flavour-btn">Order Now</button>
        </div>
        <div class="col-6">
            <img src="/image/Motichoor-Ladoo.png" alt="" class="alpho-mango">
        </div>
    </div> -->




    <div class="row mt-5 ">
        <div class="col-7 mt-5">
            <img src="/image/Sheer-kurma.png" alt="" class="strawberry">
        </div>
        <div class="col-5 mt-5">
            <h1 class="flavour-title2">
               Sheer Khurma
            </h1>
            <p class="flavour-text2">
              The desi kheer laden with dry fruits, a dessert you can’t afford to miss.The desi kheer laden with dry fruits, a dessert you can’t afford to miss.
            </p>
            <a th:href="@{/orderform}">
              <button class="flavour-btn">Order Now</button>
            </a>
        </div>           
    </div>




    <div class="container-fluid mt-5">
      <div class="row">
          <div class="col-6 mt-5">
              <h1 class="flavour-title">
                 Tender Coconut
              </h1>
              <p class="flavour-text">
                Relish the refreshing and fresh bites of Tender Coconut, only in NIC’s Tender Coconut.Relish the refreshing and fresh bites of Tender Coconut, only in NIC’s Tender Coconut.
              </p>
              <a th:href="@{/orderform}">
                <button class="flavour-btn">Order Now</button>
              </a>
          </div>
          <div class="col-6 mt-5">
              <img src="/image/Tender-Coconut.png" alt="" class="alpho-mango">
          </div>
      </div>
  </div>


  <div class="row mt-5 ">
    <div class="col-7 mt-5">
        <img src="/image/Gajar-halwa.png" alt="" class="strawberry">
    </div>
    <div class="col-5 mt-5">
        <h1 class="flavour-title-pista">
          Gajar Halwa
        </h1>
        <p class="flavour-text2">
          An ice cream loaded with a heavenly desi treat – Gajar Halwa.An ice cream loaded with a heavenly desi treat – Gajar Halwa.
        </p>
        <a th:href="@{/orderform}">
          <button class="flavour-btn">Order Now</button>
        </a>
    </div>           
</div>




<div class="container-fluid mt-5">
  <div class="row">
      <div class="col-6 mt-5">
          <h1 class="flavour-title3">
            Kala Jamun
          </h1>
          <p class="flavour-text">
            Relish the refreshing and fresh bites of Tender Coconut, only in NIC’s Kala Jamun.Relish the refreshing and fresh bites of Kala Jamun, only in NIC’s Kala Jamun.
          </p>
          <a th:href="@{/orderform}">
            <button class="flavour-btn">Order Now</button>
          </a>
      </div>
      <div class="col-6 mt-5">
          <img src="/image/Kala-Jamun.png" alt="" class="alpho-mango">
      </div>
  </div>
</div>








<div class="container-fluid text-center text-md-left bg-dark text-white pt-5 pb-4  mt-5">
  <div class="row text-center text-md-left">
    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-1 ">
      <div class="footer-section about">
        <h2>About Us</h2>
        <p>We're passionate about crafting the finest ice cream using only the freshest ingredients.</p>
        <div class="contact">
          <span><i class="fas fa-phone"></i> 123-456-7890</span>
          <span><i class="fas fa-envelope"></i> info@example.com</span>
        </div>
        <div class="social">
          <a href="#"><i class="ri-facebook-fill"></i></a>
          <a href="#"><i class="ri-twitter-fill"></i></a>
          <a href="#"><i class="ri-instagram-line"></i></a>
        </div>
      </div>
    </div>
    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3 ">
      <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Product</h5>
      <p  class="text-white" style="text-decoration:none;"> 
        MAGNUM
      </p>
      <p  class="text-white" style="text-decoration:none;"> 
        Chocolate
      </p>
      <p  class="text-white" style="text-decoration:none;"> 
        BROWNIE
      </p>
      <p  class="text-white" style="text-decoration:none;"> 
        CORNETTO
      </p>
    </div>


    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3 ">
      <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Flavour</h5>
      <p  class="text-white" style="text-decoration:none;"> 
        Motichoor Ladoo
      </p>
      <p  class="text-white" style="text-decoration:none;"> 
        Gajar Halwa
      </p>
      <p  class="text-white" style="text-decoration:none;"> 
        Sheer Khurma
      </p>
      <p  class="text-white" style="text-decoration:none;"> 
        Chocochips
      </p>
    </div>

    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3 ">
      <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Flavour</h5>
      <p  class="text-white" style="text-decoration:none;"> 
        Coconut
      </p>
      <p  class="text-white" style="text-decoration:none;"> 
        Strawberry
      </p>
      <p  class="text-white" style="text-decoration:none;"> 
        Kesar Pista
      </p>
      <p  class="text-white" style="text-decoration:none;"> 
        Mango
      </p>
    </div>
    
    
    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3 ">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Quick Links</h5>
      <p  class="text-white" style="text-decoration:none;"> 
        <a class="nav-link active" aria-current="page" href="/">Home</a>
      </p>
      <p  class="text-white" style="text-decoration:none;"> 
        <a class="nav-link active" aria-current="page" th:href="@{/orderform}">Order Form</a>
      </p>
      <p  class="text-white" style="text-decoration:none;"> 
        <a >
          Flavours
         </a>
      </p>
      <p  class="text-white" style="text-decoration:none;"> 
        <a class="nav-link active" aria-current="page" th:href="@{/contact}">Franchise</a>
      </p>
    </div>
    
    
    
    
    
  </div>	
  <div class="row align-item-center  mt-1">
      <div class="col-md-7 col-lg-8 ">
        <p> Copyright @2024 All right reserved by:<span> Niraj Thube</span></p>
      </div>
    </div>
 </div>
</body>
</html>