<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/styles/style1.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>


    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Platypi:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

<!-- fontawesom cdn -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />



<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>


   
</head>
<body>
 
    


















      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">ICE-CREAM</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" th:href="@{/orderform}">Order Form</a>
              </li>
              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                 Flavours
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" th:href="@{/fruitnut}">Fruit & Nuts</a></li>
                  <!-- <li><a class="dropdown-item" th:href="@{Indian Inspiration.html}">Indian Inspiration</a></li>
                  <li><a class="dropdown-item" th:href="@{classic.html}">Classic</a></li>
                  -->
                  <!-- <li><a class="dropdown-item" href="#">Super Premium</a></li> -->
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" th:href="@{/contact}">Franchise</a>
              </li>
              
            </ul>
            <a th:href="@{/showLogin}"><button id="loginButton" class="buttonn1">Login</button></a>
          </div>
        </div>
      </nav>

<!-- new section --><!-- new section --><!-- new section --><!-- new section --><!-- new section -->

      <div class="container mt-5">
        <div class="row">
            
            <div class="col-lg-6 col-md-6 col-sm-12  "  >
                <p class="hero-subtitle">
                  <i class="fa-solid fa-ice-cream"></i>
                         <span class="spn1">Real Taste of Ice-creams </span>
                </p>
                <h1>Delicious  </h1>
                <h1 class="title1"> <span>Ice-Creams</span> for family </h1> 
               
    
                <p class="hero-text">
                  Ice Creams are perfect for any occasion. Whether you’re celebrating a special moment, seeking comfort on a quiet evening, or simply your sweet tooth, our ice creams offer a delightful escape into a world of pure, honest flavors.
                </p>
                <a th:href="@{/orderform}">
                  <button class="btn-1">Order Now</button>
                </a>
                
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="center ">   
                </div>
                <div class="slider">
    
                </div>
            </div>
        </div>
       </div>
    
    
    
<!-- new section --><!-- new section --><!-- new section --><!-- new section --><!-- new section -->

       <div class="container-fluid mt-1">
        <div class="row" >
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div id="main2">
                 <div id="g1">
                   <div class="col-7" id="about-us">
                          <h5 class="title-1">ABOUT US</h5>
                          <h2  class="title-2">Nic Is The Best Place For Tasty Ice Cream</h2>
                          <p class="title-3">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                           
                    </div>
                  </div>
               </div>
            </div>
         </div>
    </div>
    

    <!-- new section --><!-- new section --><!-- new section --><!-- new section --><!-- new section -->


   <div class="container mt-5">
    <div class="row">
      <div class="col-6">
        <img th:src="@{/image/b2.jpg}" alt="IceCream image" class="image-section1">
        <img th:src="@{/image/sectionimg.jpg}" alt="This is section image" class="image-section2">
      </div>
      <div class="col-6">
        <h1 class="s-title">Great Our New Dishes</h1>
        <p class="s-title2 mt-3">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.</p>

          <div class="row">   
              <div class="col-6">
                <img th:src="@{/image/g1.jpg}" alt="" class="abc">
              </div>
              <div class="col-6">
                <img src="/image/g2.jpg" alt="" class="abc">
              </div>
          </div>
       </div>
    </div>
   </div>

<!-- new section --><!-- new section --><!-- new section --><!-- new section --><!-- new section -->


<div class="container mt-5">
  <div class="row mt-5">
      <h1 class="handmade-title mt-5">Handmade Ice Creams</h1>
    <p class="handmade-p">It is a paradisematic country, in which roasted parts of sentences fly into your mouth.Pityful a rethoric question.</p>
   

    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="menu-container">
        <h1 class="cones">Handmade Cones</h1>
        <div class="menu-item mt-4">
            <div class="item-description">
                <h5 class="item-name">Vamila Scotch</h5>
                <p>There are many variations of passages of Lorem Ipsum available.</p>
            </div>
           
        </div>
        <div class="menu-item mt-4">
            <div class="item-description">
              <h5 class="item-name">Strawberry Gems</h5>
                <p>There are many variations of passages of Lorem Ipsum available.</p>
            </div>
            
        </div>
        <div class="menu-item mt-4">
            <div class="item-description">
              <h5 class="item-name">Butter Scotch</h5>
                <p>There are many variations of passages of Lorem Ipsum available.</p>
            </div>
           
        </div>
    </div>
    </div>


     <div class="col-lg-6 col-md-6 col-sm-12">
      <img src="/image/i5.jpg" alt="" class="handmade-image">
    </div> 
  </div>
</div> 
   








 <div class="container mt-5">
  <div class="row mt-5">
     
   
    <div class="col-lg-6 col-md-6 col-sm-12">
      <img src="/image/c1.png" alt="" class="handmade-image" id="handimg">
    </div> 
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="menu-container">
        <h1 class="cones">Handmade Cones</h1>
        <div class="menu-item mt-4">
            <div class="item-description">
                <h5 class="item-name">Vamila Scotch</h5>
                <p>There are many variations of passages of Lorem Ipsum available.</p>
            </div>
            
        </div>
        <div class="menu-item mt-4">
            <div class="item-description">
              <h5 class="item-name">Strawberry Gems</h5>
                <p>There are many variations of passages of Lorem Ipsum available.</p>
            </div>
           
        </div>
        <div class="menu-item mt-4">
            <div class="item-description">
              <h5 class="item-name">Butter Scotch</h5>
                <p>There are many variations of passages of Lorem Ipsum available.</p>
            </div>
            
        </div>
    </div>
    </div>

  </div>
</div> 

<!-- new section --><!-- new section --><!-- new section --><!-- new section --><!-- new section -->


<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-lg-12  col-md-12 col-sm-12">
      <div class="bigimage">
          <div class="overlay ">
            <h1>TAKE A LOOK TO THE NEWS PROMOTION </h1>       
            <p class="x">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid Dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia</p>
          </div>
      </div>
    </div>
  </div>
</div>




<div class="container-fluid ">
  <h2 class="section-subtitlee ">Our Latest Blog</h2>
      <div class="row shadow">
          <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="service-card">
                  <div class="card-icon">
                      <img src="/image/g2.jpg" alt="" class="ic1" height="200px" >
                  </div>
                  <h3 class="card-title">
                     
                      <h3 style="text-align: center;">MAGNUM</h3>
                  </h3>
                  <p class="card-text">Lorem ipsum dolor sit amet the and extraa a consectetur adipisicing elit. Nobis fugane must commodi sintors unde porro dolores deleniti aut veniam,veritatiseds consequatur adomen dolorum ex quod alias ipsum veritatis andemn voluptatibus  autem ipsa.</p>

                 
              </div>
          </div>



          <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="service-card">
                  <div class="card-icon">
                      <img src="/image/g1.jpg" alt="" class="ic1" height="200px">
                  </div>
                  <h3 class="card-title">
                   
                      <h3 style="text-align: center;">PISTA</h3>
                  </h3>
                  <p class="card-text">Lorem ipsum dolor sit amet the and extraa a consectetur adipisicing elit. Nobis fugane must commodi sintors unde porro dolores deleniti aut veniam,veritatiseds consequatur adomen dolorum ex quod alias ipsum veritatis andemn voluptatibus  autem ipsa.</p>

                 
              </div>
          </div>


          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="service-card">
                <div class="card-icon">
                    <img src="/image/i3.jpg" alt="" class="ic1" height="200px">
                </div>
                <h3 class="card-title">
                   
                    <h3 style="text-align: center;">BROWNIE</h3>
                </h3>
                <p class="card-text">Lorem ipsum dolor sit amet the and extraa a consectetur adipisicing elit. Nobis fugane must commodi sintors unde porro dolores deleniti aut veniam,veritatiseds consequatur adomen dolorum ex quod alias ipsum veritatis andemn voluptatibus  autem ipsa.</p>

               
            </div>
        </div>


        <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="service-card">
                  <div class="card-icon">
                      <img src="/image/f3.jpg" alt="" class="ic1" height="200px">
                  </div>
                  <h3 class="card-title">
                      <h3 style="text-align: center;">CORNETTO</h3>
                  </h3>               
                  <p class="card-text">Lorem ipsum dolor sit amet the and extraa a consectetur adipisicing elit. Nobis fugane must commodi sintors unde porro dolores deleniti aut veniam,veritatiseds consequatur adomen dolorum ex quod alias ipsum veritatis andemn voluptatibus  autem ipsa.</p>                
               </div>
          </div>
      </div>
 </div>


<!-- new section --><!-- new section --><!-- new section --><!-- new section --><!-- new section -->

 








 <!-- <footer class="footer mt-5">
  <div class="container">
    <div class="footer-content">
      <div class="footer-section about">
        <h2>About Us</h2>
        <p>We're passionate about crafting the finest ice cream using only the freshest ingredients.</p>
        <div class="contact">
          <span><i class="fas fa-phone"></i> 123-456-7890</span>
          <span><i class="fas fa-envelope"></i> info@example.com</span>
        </div>
        <div class="social">
          <a href="#"><i class="ri-facebook-fill"></i></a>
          <a href="#"><i class="ri-twitter-fill"></i></a>
          <a href="#"><i class="ri-instagram-line"></i></a>
        </div>
      </div>


      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3 ">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning"></h5>      
    </div>
    
      <div class="footer-section links">
        <h2>Quick Links</h2>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Menu</a></li>
          <li><a href="#">Locations</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="footer-section contact-form">
        <h2>Contact Us</h2>
        <form action="#">
          <input type="email" name="email" class="text-input contact-input" placeholder="Your email address...">
          <textarea name="message" class="text-input contact-input" placeholder="Your message..."></textarea>
         
        
        </form>
        
      </div>
      <!-- <button type="submit" class="btn5">Send</button>  -->
    </div>
  </div>
</footer> 



<div class="container-fluid text-center text-md-left bg-dark text-white pt-5 pb-1  mt-5">
  <div class="row text-center text-md-left">
    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-1 ">
      <div class="footer-section about">
        <h2>About Us</h2>
        <p>We're passionate about crafting the finest ice cream using only the freshest ingredients.</p>
        <div class="contact">
          <span><i class="fas fa-phone"></i> 123-456-7890</span>
          <span><i class="fas fa-envelope"></i> info@example.com</span>
        </div>
        <div class="social">
          <a href="#"><i class="ri-facebook-fill"></i></a>
          <a href="#"><i class="ri-twitter-fill"></i></a>
          <a href="#"><i class="ri-instagram-line"></i></a>
        </div>
      </div>
    </div>
    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-1 ">
      <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Product</h5>
      <p  class="text-white" style="text-decoration:none;"> 
        MAGNUM
      </p>
      <p  class="text-white" style="text-decoration:none;"> 
        CHOCOLATE
      </p>
      <p  class="text-white" style="text-decoration:none;"> 
        BROWNIE
      </p>
      <p  class="text-white" style="text-decoration:none;"> 
        CORNETTO
      </p>
    </div>


    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-1 ">
      <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Flavour</h5>
      <p  class="text-white" style="text-decoration:none;"> 
        Motichoor Ladoo
      </p>
      <p  class="text-white" style="text-decoration:none;"> 
        Gajar Halwa
      </p>
      <p  class="text-white" style="text-decoration:none;"> 
        Sheer Khurma
      </p>
      <p  class="text-white" style="text-decoration:none;"> 
        Chocochips
      </p>
    </div>

    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-1 ">
      <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Flavour</h5>
      <p  class="text-white" style="text-decoration:none;"> 
        Coconut
      </p>
      <p  class="text-white" style="text-decoration:none;"> 
        Strawberry
      </p>
      <p  class="text-white" style="text-decoration:none;"> 
        Kesar Pista
      </p>
      <p  class="text-white" style="text-decoration:none;"> 
        Mango
      </p>
    </div>
    
    
    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-1 ">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Quick Links</h5>
      <p  class="text-white" style="text-decoration:none;"> 
        <a class="nav-link active" aria-current="page" href="/">Home</a>
      </p>
      <p  class="text-white" style="text-decoration:none;"> 
        <a class="nav-link active" aria-current="page" th:href="@{/orderform}">Order Form</a>
      </p>
      <p  class="text-white" style="text-decoration:none;"> 
        <a >
          Flavours
         </a>
      </p>
      <p  class="text-white" style="text-decoration:none;"> 
        <a class="nav-link active" aria-current="page" th:href="@{/contact}">Franchise</a>
      </p>
    </div>
    
    
    
    
    
  </div>	
  <div class="row align-item-center  mt-1">
      <div class="col-md-7 col-lg-8 ">
        <p> Copyright @2024 All right reserved by:<span> Niraj Thube</span></p>
      </div>
    </div>
 </div>
 
     <script src="script.js"></script>
</body>
</html>